<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>background-position</title>
    <style type="text/css">
        body{
            margin:0;
        }
        .div1{
            margin-top: 30px;
            margin-left: 30px;
            width:30px;
            height: 30px;
            border:1px solid #eee;
            background: url(../images/icons.png) -80px -143px;
        }
        .div1:hover{
            background-position: -80px -208px;
        }
    </style>
</head>
<body>
<div class="div1">

</div>
<pre><code class="html">
    &lt;html lang="en"&gt;
    &lt;head&gt;
    &lt;title&gt;HTML, baby!&lt;/title&gt;
    &lt;/head&gt;
    &lt;body&gt;
    &lt;!-- indented code, etc. --&gt;
    &lt;/body&gt;
    &lt;/html&gt;
</code></pre>

<ol>
    <li>First item</li>
    <li>Second item</li>
    <li>Third item</li>
</ol>

<ol reversed>
    <li>Third item</li>
    <li>Second item</li>
    <li>First item</li>
</ol>

<ol start="2">
    <li>Second item</li>
    <li>Third item</li>
    <li>Fourth item</li>
</ol>

<ol type="I">
    <li>First item (a)</li>
    <li>Second item (b)</li>
    <li>Third item (c)</li>
    <li>Third item (c)</li>
    <li>Third item (c)</li>
    <li>Third item (c)</li>
    <li>Third item (c)</li>
</ol>
<video src="http://yituitest.oss-cn-shanghai.aliyuncs.com/Apple%20%E6%96%B0%E6%AC%BE%20MacBook%20Pro%20%E5%AE%98%E6%96%B9%E8%A7%86%E9%A2%91%E4%BB%8B%E7%BB%8D%20%EF%BC%88%E4%B8%AD%E6%96%87%EF%BC%89%20%20---%20%E7%A7%91%E6%8A%80%E5%B0%8F%E8%BE%9B_%E9%AB%98%E6%B8%85.mp4" controls></video>
</body>
</html>