<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>不断变换的文字颜色</title>
    <style>
        @-webkit-keyframes hue {
            from {
                -webkit-filter: hue-rotate(0deg);
            }

            to {
                -webkit-filter: hue-rotate(-360deg);
            }
        }

        .mega {
            color: #f35626;
            background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-animation: hue 6s infinite linear;
        }
    </style>
</head>
<body>
<h1 class="mega">文字</h1>
</body>
</html>
