<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Title</title>
    <style>
        .btn {
            padding: 3px 12px 4px 12px;
            border: 1px solid currentColor;
            background-color: #111;
            color: #fff;
            border-radius: 5px;
            -webkit-transition: all 0.2s ease-out 0s;
            transition: all 0.2s ease-out 0s
        }

        .btn:hover {
            background-color: #1caf9a;
            color: #fff;
        }
    </style>
</head>
<body>
<button class="btn">
    button
</button>
<script src="//cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>