<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>网页中使用外部程序</title>
    <link rel="stylesheet" href="">
    <style>
		dt{
			font-size: 16px;
			line-height: 1.4;
		}
		dd{
			margin-left: 1em;
			font-size: 14px;
			line-height: 1.4;
		}
    </style>
</head>
<body>
    <dl>
        <dt>网页中使用邮箱</dt>
        <dd>
            <a href="mailto:qinghua1994@hotmail.com">qinghua1994@hotmail.com</a>
        </dd>
        <dt>
            网页中使用电话
        </dt>
        <dd>
            <a href="tel:123456">123456</a>
        </dd>
    </dl>
</body>

</html>
