<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>顶部打开关闭按钮的Demo</title>
    <link href="../css/fee.min.css" type="text/css" rel="stylesheet"/>
</head>
<body class="page-home">
<div class="gn-container">
    <input type="checkbox" id="gn-menustate" class="gn-menu-state" title=""/>
    <nav class="gn-globalnav">
        <ul class="gn-header">
            <li class="gn-item gn-menuicon">
                <label class="gn-menuicon-label" for="gn-menustate" aria-hidden="true">
                    <span class="gn-menuicon-bread gn-menuicon-bread-top">
						<span class="gn-menuicon-bread-crust gn-menuicon-bread-crust-top"></span>
                    </span>
                    <span class="gn-menuicon-bread gn-menuicon-bread-bottom">
						<span class="gn-menuicon-bread-crust gn-menuicon-bread-crust-bottom"></span>
                    </span>
                </label>
            </li>

        </ul>
        <ul class="gn-list">
            <li class="gn-item gn-item-menu">
                <a class="gn-link" href="#">Home</a>
            </li>
            <li class="gn-item gn-item-menu">
                <a class="gn-link" href="#">Albums</a>
            </li>
            <li class="gn-item gn-item-menu">
                <a class="gn-link" href="#">Photo</a>
            </li>
            <li class="gn-item gn-item-menu">
                <a class="gn-link" href="#">Photo</a>
            </li>
            <li class="gn-item gn-item-menu">
                <a class="gn-link" href="#">Photo</a>
            </li>
            <li class="gn-item gn-item-menu">
                <a class="gn-link" href="#">Photo</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>