html{
  font-size: 100%;
}
html,body{
  margin: 0;
  padding: 0;
}

body{
  font-size: 18px;
  line-height: 1.45;
  font-weight: 400;
  letter-spacing: normal;
  background-color: #fff;
  color: #333;
  font-style: normal;
  font-family: 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}